.bar {
  background-color: white;
  height: 54px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
}

.bar img {
  display: flex;
  justify-self: flex-start;
}
